.root {
    width: 100%;
    height: 100%;
}

html, body {
    width: 100%;
    height: 100%;
}

.main-fadein {
    -webkit-animation: fadein .1s linear forwards;
    animation: fadein .1s linear forwards;
}
.main-fadeout{
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  -webkit-animation: fadeout .3s linear forwards;
    animation: fadeout .3s linear forwards;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}